
.electronicsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  margin-top: 20px;
  width: 100%; 
}

/* Styles for electronics boxes */
.electronicsBox {
  width: 200px;
  height: 350px; /* Set a fixed height for each box */
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #000;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  margin-bottom: 20px; /* Add margin to separate boxes */
  display: flex; /* Use flexbox for positioning */
  flex-direction: column; /* Stack elements vertically */
}

/* Hover effect for electronics boxes */
.electronicsBox:hover {
  transform: translateY(-5px);
}

/* Styles for electronics images */
.electronicsImage {
  max-width: 100%;
  flex-grow: 1; /* Allow image to take remaining space */
}

/* Styles for product name */
.productName {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Styles for product price */
.productPrice {
  font-size: 14px;
  color: #888;
}

/* Styles for add to cart button */
.addToCartButton {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto; /* Push button to bottom of box */
}

.addToCartButton:hover {
  background-color: #2980b9;
}
